@use "../../scss/" as *;

.content {
  width: 100%;
  &-left {
    max-width: 754px;
  }
}
/* Điều chỉnh giao diện cho kích thước màn hình nhỏ (dưới 576px) */
@media (max-width: 575px) {
  .container {
    padding: 10px;
  }
  .none {
    display: none !important;
  }
  .row-cols-2 > div {
    width: 100% !important; // làm cho các cột con chiếm toàn bộ chiều rộng của hàng khi màn hình nhỏ hơn hoặc bằng 575px.
  }
}
/* Điều chỉnh giao diện cho kích thước màn hình trung bình (từ 576px đến 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    padding: 15px;
  }
  .none {
    display: none !important;
  }
  .row-cols-2 > div {
    width: 100% !important; // làm cho các cột con chiếm toàn bộ chiều rộng của hàng khi màn hình nhỏ hơn hoặc bằng 575px.
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__menu-list {
    gap: 0 20px;
  }
  .btn-reg,
  .btn-login {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  .header__member.none,
  .header__cate {
    display: none !important;
  }
}
